<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<div class="corpo" layout:fragment="corpo">

    <div id="loader-form" class="pre-load"></div>

    <div lass="col-md-12">


    	<div th:insert="formulario-usuario.html" sec:authorize="isAuthenticated()" >...</div>	
    
    </div>

        

</div>

<script th:src="@{/js/usuario-add.js}" th:fragment="js"></script>
</body>
</html>